/*------------------------------------*\
  #Component Skills List
\*------------------------------------*/

.skills-list { @include reset-list }

  .skill {
    margin-bottom: 0.75rem;
    position:      relative;
    height:        36px;
  }

  .skill__label {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow:    0 2px 4px rgba(0,0,0,0.11);
    line-height:    36px;
    font-size:      16px;
    color:        #FFFFFF;
    left:           0.9rem;
  }

  .skill__competency {
    @include transition(width, 1s, ease-in-out);
    background-color: $base-light-blue;
    border-radius:    0 21px 21px 0;
    z-index:          0;
  }

  .skill__label,
  .skill__competency {
    position: absolute;
    top:      0rem;
    bottom:   0rem;
  }