/*------------------------------------*\
  #Component Skills List
\*------------------------------------*/

.skills-list { @include reset-list }

  .skill {
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    height: 36px;
    position: relative;
  }

  .skill__label {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    line-height: 36px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.11);
    left: 0.9rem;
    position: absolute;
    top: 0rem;
    bottom: 0rem;
  }

  .skill__competency {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    background-color: $base-light-blue;
    border-radius: 0 21px 21px 0;
    transition: width 1s ease-in-out;
    z-index: 0;
  }