/*------------------------------------*\
  #Element Heading 1
\*------------------------------------*/

h1 {
  color:       $base-text-dark;
  font-weight: $font-weight-bold;
  font-size:   3.5em;
  line-height: 1em;
}