/*------------------------------------*\
  #Object Main Site Content
\*------------------------------------*/

.content {
  width:     100%;
  max-width: 80%;
  // border: 1px solid red;
}

@include media(">phone", "<desktop") {
  .content { max-width: 70%; }
}

@include media(">=desktop") {
  .content { max-width: 840px; }
}