/*------------------------------------*\
  #Object Main Section
\*------------------------------------*/

.section { 
  padding-left: 4%;
  padding-right: 3%;
  overflow: hidden;
}

@include media(">phone") {
  .section { padding-right: 0%; }
}

  .section--full-viewport {
    height:  100vh;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }

  .section__heading {
    margin-top:    0.6rem;
    margin-bottom: 2rem;
  }

  @include media(">phone") {
    .section__heading {
      margin-bottom: 2.5rem;
    }
  }

  @include media(">tablet") {
    .section__heading {
      margin-bottom: 3rem;
    }
  }