/*------------------------------------*\
  #Object Main Section
\*------------------------------------*/

.section { 
  padding-left: 4%;
  padding-right: 3%;
}

@include media(">phone") {
  .section { padding-right: 0%; }
}

  .section--full-viewport {
    height:  100vh;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }

  .section__heading {
    margin-top:    0.6rem;
    margin-bottom: 3rem;
  }