/*------------------------------------*\
  #Settings Theme Colors
\*------------------------------------*/

$base-yellow:     #F2CD88;
$base-blue:       #88C1F2;
$base-light-blue: #C4E1F2;





/*------------------------------------*\
  #Settings Text Colors
\*------------------------------------*/

$base-text-dark:   #000000;
$base-text-medium: #4A4A4A;