/*------------------------------------*\
  #Settings Theme Colors
\*------------------------------------*/

$base-yellow:     #F2CD88;
$base-blue:       #88C1F2;
$base-light-blue: #C4E1F2;

$magnity-yellow:      #F6CE82;
$magnity-purple:      #343057;
$magnity-purple-grey: #6A6A8A;

$magnity-marketing-pink: #EB457B;
$magnity-marketing-purple: #6A3FEB;

$boardingware-blue:      #1C4891;
$boardingware-grey:      #D9E1EB;
$boardingware-dark-blue: #091440;

$fusion-green:#80FF06;
$fusion-blue: #2779BC;

$ljhooker-red:   #F0231E;
$ljhooker-yellow:#FAB722;

$pasifika-blue:     #06BDB4;
$pasifika-black:    #333333;
$pasifika-dark-blue:#025180;


/*------------------------------------*\
  #Settings Text Colors
\*------------------------------------*/

$base-text-dark:   #000000;
$base-text-medium: #4A4A4A;
$base-text-light:  #D9D7DE;